.git

.dockerignore

.env
**/.env

.gitignore
**/.gitignore

.vs
.vscode
**/.vscode

**/node_modules

**/bin
**/obj

**/.toolstarget

./publish

./docker

**/DockerFile

**/appsettings.Development.json
